  .pfp{ 
    margin-left: 16px;
    width: 80px;
    height:80px;
    border-radius: 50%;
}
  header{
    position: fixed;
    z-index: 100;
}
  h1{
    display: inline-block;
    font-family: 'Abhaya Libre', serif;
    font-size: 30px;
    vertical-align: auto;
    color: black;
    transition: .15s;
}
  h1:hover{
  color: grey;
}
  .sidebar {
    height: 360px;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 12%;
    left: 15px;
    overflow-x: hidden;
    padding-top: 20px;
    font-family: 'Abhaya Libre', serif;
  }
  .sidebar a {
    padding: 20px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
  }
  .sidebar a:hover {
    transition: opacity .15s;
    color: grey;
  }
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  .Contactlist{
    size: 100px;
    position: fixed;
    display: inline-block;
    padding: 400px 0px 0px 20px;
  }
  h3{
    font-family: 'Abhaya Libre', serif;
    font-size: 20px;
  }
  .icon{
    height: 30px;
    width: 30px;
    color: black;
    transition:.15s;
  }
  .icon:hover{
    color: grey;
  }
/* Loading Screen */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
 body {
     position: relative;
     width: 100%;
     height: 100vh;
     font-family: 'Abhaya Libre', serif;
     font-size: 30px;
}
 .wrap {
     position: fixed;
     top: 35%;
     left: 50%;
     transform: translate(-50%, -50%);
}
 .text {
     color: black;
     display: inline-block;
     margin-left: 5px;
}
 .bounceball {
     position: relative;
     display: inline-block;
     height: 37px;
     width: 15px;
}
 .bounceball:before {
     position: absolute;
     content: '';
     display: block;
     top: 0;
     width: 15px;
     height: 15px;
     border-radius: 50%;
     background-color: black;
     transform-origin: 50%;
     animation: bounce 500ms alternate infinite ease;
}
 @keyframes bounce {
     0% {
         top: 30px;
         height: 5px;
         border-radius: 60px 60px 20px 20px;
         transform: scaleX(2);
    }
     35% {
         height: 15px;
         border-radius: 50%;
         transform: scaleX(1);
    }
     100% {
         top: 0;
    }
}
  
